<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<h3>Sign in</h3>

<%=form_for(:session, url: sessions_path ) do |f|%>
	<%=f.label :name%>
	<%=f.text_field :name%>

	<%=f.submit "okay"%>
<%end%>