<h2>All Events(<%=@events.count%>)</h2>

<%if Event.past.any?%>
	<h3>Previous</h3>
	<%Event.past.each do |e|%>
		<li><%= link_to e.name, event_url(e.id)%></li>
	<%end%>
<% end %>

<% if Event.upcoming.any?%>
	<h3>Upcoming</h3>
	
	<%Event.upcoming.each do |e|%>
	  <p><%=link_to e.name, event_url(e.id)%></p>
     <%end%>
<%end%>
