<footer>

<small>
	<a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/associations?ref=lc-pb">www.theodinproject.com</a>
</small>

<nav>
	<ul>
		<li><%=link_to 'About', about_path%></li>
		<li><%=link_to 'Help', help_path%></li>
	</ul>
</nav>

</footer>