<div class="footer">
<a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/associations?ref=lc-pb">www.theodinproject.com</a>

<%=link_to 'About', about_path%>
<%=link_to 'Help', help_path%>
</div>